/* font-family: 'Exo', sans-serif;
font-family: 'Exo 2', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

/* HERO */
img {
    display: block;
}
#hero img {
    width: 100%;
    height: auto;
}

/* TESTO IMMAGINE */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Exo 2', sans-serif;
    color: #dbdce7;
    /* width: 100%;
    max-width: 990px; */
    margin-bottom: 150px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 3px #802731, 0 0 5px #802731;
}

/* BODY */
body {
    font-family: 'Exo', sans-serif;
    background-color: #09060c;
}

h2 {
    color: white;
    font-weight: 100;
}

p {
    font-size: 15px;
}

#schede {
    font-size: 20px;
}

#container {
    color:white;
    line-height: 30px;
}

main {
    width: 85%;
    margin: 30px auto;
}
  
hr {
    border: 0;
    background-color: #802731;
    height: 1px;
    margin: 20px 0;
}

#resize {
    max-height: 450px;
    max-width: 450px;
    padding: auto;
    margin: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

/* AGGIUNGI, MODIFICA, TORNA ALLA HOME */
  
#add,
#save,
#refresh,
#back {
    padding: 10;
    background-color: #09060c;
    border: 1px solid #802731;
    font-size: 16px;
    transition: all 0.4s ease;
    color:#fff;
    text-decoration: underline;
}

#add:hover,
#save:hover,
#refresh:hover,
#back:hover {
    cursor: pointer;
    border: 1px solid #09060c;
    background-color: #802731;
    color:#09060c;
}

#save{
    margin-left: 46%;
}

#back {
    margin-left: 45%;
}


#create label {
    display: block;
    width: 300px;
    font-size: 14px;
}
  
#create input,
#create textarea {
    display: block;
    width: 100%;
    padding: 4px;
    font-size: 14px;
}

#create input {
    outline: none;
    border: 2px solid #999;
    transition: all 0.6s ease;
}
  
#create input:focus {
    border: 2px solid #802731;
    box-shadow: 0px 0px 10px #802731;
}
  
#create textarea {
    resize: vertical;
}
  
#create .row {
    margin: 10px 0;
}

ul {
    padding: 30px;
    list-style: none;
}
  
/* ul li span {
    text-decoration: underline;
    cursor: pointer;
    color: #00ced1;
} */
  
.edit {
    border: 0;
    background-color: none;
    cursor: pointer;
    text-decoration: none;
}
  
.delete {
    border: 0;
    color: #fff;
    background-color: #09060c;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.delete:hover {
    cursor: pointer;
    background-color: #09060c;
}

/* LINK */
a:link {
    color: #fff;
}
  
a:visited {
    color: #802731;
}
  
a:hover {
    color: #802731;
}

  
/* Box di avviso errori */
.alert {
    background-color: #b22222;
    color: #fff;
    top: -500px;
    width: 400px; /* per centrare orizzontalmente un elemento fixed/absolute */
    left: 50%; /* per centrare orizzontalmente un elemento fixed/absolute */
    margin-left: -200px; /* per centrare orizzontalmente un elemento fixed/absolute */
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}
  
.alert.show {
    top: 100px;
}
  
.alert p {
    padding: 20px;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #09060c; 
}
   
::-webkit-scrollbar-thumb {
    background: #802731; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #802731; 
}
  
/* Placeholder per caricamento */
.loading {
    color: #aaa;
    padding: 15px;
    border: 1px dashed #aaa;
  
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
  
/* ANIMAZIONE */
@keyframes pulse {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.4;
    }
}